.khan__buy-link {
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  transition: translate .2s linear;
}

.khan__buy-link:hover {
  translate: 10px;
}